{{#supportPython2}}
#!/usr/bin/env python
{{/supportPython2}}
{{^supportPython2}}
#!/usr/bin/env python3
{{/supportPython2}}

import connexion
from {{packageName}}.server_impl.controllers_impl import service_specific_init

from {{packageName}} import encoder
from werkzeug.debug import DebuggedApplication


def main():
    app = connexion.App(__name__, specification_dir='./swagger/')
    service_specific_init(app)
    app.app.json_encoder = encoder.JSONEncoder
    app.add_api('swagger.yaml', arguments={'title': '{{appName}}'})
    app.run(host='0.0.0.0', port={{serverPort}})


if __name__ == '__main__':
    main()
